* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_9 {
  width: 100%;
  height: 2048px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_241 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1024px;
  left: 1px;
  overflow: hidden;
}
.v2_2 {
  width: 100%;
  height: 100%;
  background: url("../images/v2_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3 {
  width: 183px;
  height: 135px;
  background: url("../images/v2_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 628px;
  overflow: hidden;
}
.v1_240 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v2_0 {
  width: 100%;
  height: 100%;
  background: url("../images/v2_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_249 {
  width: 365px;
  height: 68px;
  background: url("../images/v1_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 118px;
  overflow: hidden;
}
.v1_265 {
  width: 165px;
  height: 20px;
  background: url("../images/v1_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 201px;
  overflow: hidden;
}
.v1_277 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v1_278 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v1_279 {
  width: 96px;
  height: 68px;
  background: url("../images/v1_279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
